<div>
    <label for="channelName">Canal : </label>
    <input id="channelName" name="channelName" type="text" [(ngModel)]="channelName" >
    <button (click)="loadMessage()">Envoyer</button>
</div>

<div>

    <div *ngFor="let message of observable | async">
        {{message.content}}
    </div>

</div>